body {
    font-family: 'Roboto', sans-serif;
    background-color:rgb(33, 46, 37);
    padding: 10px 15px 30px 15px;   
    font-Size:18px;
    color:white
}

.row-data-2 {
    padding: 3px 10px 3px 5px;
    color:rgb(167, 180, 130);
    font-size: 16px;
}

.row-data-1 {
    padding: 3px 10px 3px 5px;
    color:white;
    font-size: 16px;
    cursor: pointer;
}

.row-data-1:hover {
   color: rgb(6,69,173);
}
.row-data-1-nolink {
   padding: 3px 10px 3px 5px;
   color:white;
   font-size: 16px;
}

.header-1 {
    padding: 10px 10px 10px 5px;
    font-size: 17px;
    color:rgb(150, 108, 35);

}
tr,td {
    border: 1px solid black;
    
}

.section-title {
   color:rgb(175, 175, 175);
   font-size: 20px;
   font-weight: bold;
   padding: 0px 0px 10px 0px;

}

.section-waiting {
   color:rgb(175, 175, 175);
   font-size: 18px;

}